#
# Composer
#
COMPOSER_MODULE_NAME=layered-navigation

#
# git
#
GIT_MODULE_NAME=layerednavigation
GIT_PR_BRANCH_NAME=

#
# Magento 2 Module
#
MAGENTO2_MODULE_NAME=Trespass_LayeredNavigation

#
# Magento 2 Environment
#
MAGENTO2_ENV_WEBROOT=/var/www/html/jacobs-turner/projects/trespass-m2/html      # e.g. /var/www/html/project/htdocs
MAGENTO2_ENV_PHPCOMMAND='/usr/bin/php7.3'                                       # Path to PHP version to use (e.g. /usr/bin/php7.3)
MAGENTO2_ENV_COMPOSERCOMMAND='/usr/bin/php7.3 -n -d extension=bcmath.so -d extension=ctype.so -d extension=curl.so -d extension=dom.so -d extension=gd.so -d extension=iconv.so -d extension=intl.so -d extension=json.so -d extension=mbstring.so -d extension=mcrypt.so -d extension=mysqlnd.so -d extension=pdo.so -d extension=pdo_mysql.so -d extension=phar.so -d extension=simplexml.so -d extension=soap.so -d extension=tokenizer.so -d extension=xml.so -d extension=xmlwriter.so -d extension=xsl.so -d extension=zip.so /usr/local/bin/composer'
