#
# Composer
#
MAGENTO2_PUBLIC_KEY=
MAGENTO2_PRIVATE_KEY=

#
# Database
#
MAGENTO2_DB_HOSTNAME=localhost
MAGENTO2_DB_ROOTUSERNAME="--user=root"
MAGENTO2_DB_ROOTPASSWORD="--password=password"
MAGENTO2_DB_NAME=m2_
MAGENTO2_DB_USERNAME=m2_
MAGENTO2_DB_PASSWORD=m2_
# For updating Magento - whether to dump the db first before doing anything (bool)
MAGENTO2_DB_BACKUPFIRST=
# Drop the db, drop the db user, create new db, create new db user (bool)
MAGENTO2_DB_RESET=
# Import new database? (bool)
MAGENTO2_DB_IMPORT=
# Import a Sonassi DB backup
MAGENTO2_DB_IMPORT_SONASSI=
# SQL filename for import (string)
MAGENTO2_DB_IMPORT_DUMPNAME=    # Must be in uncompressed format
# SQL filename for export (string)
MAGENTO2_DB_EXPORT_DUMPNAME=

#
# Integration Tests
# Run ./install-m2/25-setup-integration-tests-database.sh to create the db and user
# You'll also need to change the details in dev/tests/integration/etc/install-config-mysql.php
#
MAGENTO2_INTEGRATION_TESTS_DB_HOSTNAME=localhost
MAGENTO2_INTEGRATION_TESTS_DB_NAME=magento_integration_tests
MAGENTO2_INTEGRATION_TESTS_DB_USERNAME=magento_integration_tests
MAGENTO2_INTEGRATION_TESTS_DB_PASSWORD=magento_integration_tests

#
# Magento 2 Admin
#
MAGENTO2_ADMIN_FIRSTNAME=Admin
MAGENTO2_ADMIN_LASTNAME=User
MAGENTO2_ADMIN_EMAIL=admin@example.com          # Must be unique
MAGENTO2_ADMIN_USERNAME=admin
MAGENTO2_ADMIN_PASSWORD=password123             # Must be alphanumeric and be longer than seven characters
MAGENTO2_ADMIN_FRONTNAME=admin

#
# Magento 2 Locale
#
MAGENTO2_LOCALE_CODE=en_GB
MAGENTO2_LOCALE_CURRENCY=GBP
MAGENTO2_LOCALE_TIMEZONE=Europe/London

#
# Magento 2 Environment
#
MAGENTO2_ENV_VERSION=2.4.5-p1                   # e.g. 2.4.5. For upgrading Magento 2 core framework.
MAGENTO2_ENV_EDITION=community                  # e.g. community or enterprise
MAGENTO2_ENV_HOSTNAME=                          # e.g. project.localhost.com (without www)
MAGENTO2_ENV_WEBROOT=                           # e.g. /var/www/html/project/htdocs
MAGENTO2_ENV_USEREWRITES=1                      # Whether to use URL rewrites (if using Apache)
MAGENTO2_ENV_USESECURITYKEY=1                   # Whether to add security key to URLs in admin
MAGENTO2_ENV_SESSIONSAVE=files                  # Where to save session files
MAGENTO2_ENV_ENABLECRON=                        # Whether to enable Magento 2 cron jobs
MAGENTO2_ENV_CLIUSER=zone8                      # The user which owns the files (e.g. administrator)
MAGENTO2_ENV_WEBSERVERGROUP=zone8               # The web server group (e.g. www-data)
MAGENTO2_ENV_RESETPERMISSIONS=                  # Whether to run chmod/chown commands to reset permissions
MAGENTO2_ENV_PHPCOMMAND='/usr/bin/php8.1'       # Path to PHP version to use (e.g. /usr/bin/php8.1)
MAGENTO2_ENV_COMPOSERCOMMAND='/usr/bin/php8.1 /usr/local/bin/composer2'

#
# Extra arguments to pass to bin/magento setup:install command
#
MAGENTO2_INSTALLCOMMAND_CLEANUPDATABASE=        # Set to "--cleanup-database" to enable this
MAGENTO2_INSTALLCOMMAND_EXTRAARGUMENTS='--search-engine=elasticsearch6'

#
# Themes to exclude from bin/magento setup:static-content:deploy command
#
MAGENTO2_STATICCONTENTDEPLOY_EXCLUDE=true
MAGENTO2_STATICCONTENTDEPLOY_EXCLUDEDTHEMES=" --exclude-theme=Magento/blank "
