#
# Database
#
MAGENTO1_DB_HOSTNAME=localhost
MAGENTO1_DB_ROOTUSERNAME="--user=root"
MAGENTO1_DB_ROOTPASSWORD="--password=password"
MAGENTO1_DB_NAME=
MAGENTO1_DB_USERNAME=
MAGENTO1_DB_PASSWORD=
# For updating Magento - whether to dump the db first before doing anything
MAGENTO1_DB_DUMPNAME=
MAGENTO1_DB_BACKUPFIRST=

#
# Magento 1 Admin
#
MAGENTO1_ADMIN_FIRSTNAME=Admin
MAGENTO1_ADMIN_LASTNAME=User
MAGENTO1_ADMIN_EMAIL=admin@example.com
MAGENTO1_ADMIN_USERNAME=admin
MAGENTO1_ADMIN_PASSWORD=password123
MAGENTO1_ADMIN_FRONTNAME=admin

#
# Magento 1 Locale
#
MAGENTO1_LOCALE_CODE=en_GB
MAGENTO1_LOCALE_CURRENCY=GBP
MAGENTO1_LOCALE_TIMEZONE=Europe/London

#
# Magento 1 Environment
#
MAGENTO1_ENV_VERSION=           # Version number, e.g. 1.9.3.4
MAGENTO1_ENV_EDITION=community           # community or enterprise
MAGENTO1_ENV_HOSTNAME=project.dev          # e.g. project.localhost.com (without www)
MAGENTO1_ENV_WEBROOT=/var/www/html/project/htdocs           # e.g. /var/www/html/project/htdocs
MAGENTO1_ENV_SKINDIRECTORY=skin/frontend/project/default     # e.g. skin/frontend/project/default
MAGENTO1_ENV_USEREWRITES=1      # Whether to use URL rewrites (if using Apache)
MAGENTO1_ENV_USESECURITYKEY=1   # Whether to add security key to URLs in admin
MAGENTO1_ENV_SESSIONSAVE=files  # Where to save session files
MAGENTO1_ENV_ENABLECRON=        # Whether to enable Magento 1 cron jobs
MAGENTO1_ENV_CLIUSER=           # The user which owns the files (e.g. root)
MAGENTO1_ENV_WEBSERVERGROUP=    # The web server group (e.g. www-data)
MAGENTO1_ENV_INSTALLSAMPLEDATA= # Whether to install sample data
