#
# Composer
#
MAGENTO2_PUBLIC_KEY=
MAGENTO2_PRIVATE_KEY=

#
# Database
#
MAGENTO2_DB_HOSTNAME=
MAGENTO2_DB_NAME=
MAGENTO2_DB_USERNAME=
MAGENTO2_DB_PASSWORD=
# For updating Magento - whether to dump the db first before doing anything
MAGENTO2_DB_DUMPNAME=
MAGENTO2_DB_BACKUPFIRST=

#
# Magento 2 Admin
#
MAGENTO2_ADMIN_FIRSTNAME=
MAGENTO2_ADMIN_LASTNAME=
MAGENTO2_ADMIN_EMAIL=
MAGENTO2_ADMIN_USERNAME=
MAGENTO2_ADMIN_PASSWORD=
MAGENTO2_ADMIN_FRONTNAME=

#
# Magento 2 Locale
#
MAGENTO2_LOCALE_CODE=
MAGENTO2_LOCALE_CURRENCY=
MAGENTO2_LOCALE_TIMEZONE=

#
# Magento 2 Environment
#
MAGENTO2_ENV_EDITION=
MAGENTO2_ENV_HOSTNAME=
MAGENTO2_ENV_WEBROOT=
MAGENTO2_ENV_MULTITENANT=       # For multisites running Magento 2.0.x only
MAGENTO2_ENV_USEREWRITES=1      # Whether to use URL rewrites (if using Apache)
MAGENTO2_ENV_USESECURITYKEY=1   # Whether to add security key to URLs in admin
MAGENTO2_ENV_SESSIONSAVE=files  # Where to save session files
MAGENTO2_ENV_ENABLECRON=        # Whether to enable Magento 2 cron jobs
MAGENTO2_ENV_CLIUSER=           # The user which owns the files (e.g. root)
MAGENTO2_ENV_WEBSERVERGROUP=    # The web server group (e.g. www-data)

#
# Extra commands to pass to bin/magento setup:install command
#
MAGENTO2_INSTALLCOMMAND_CLEANUPDATABASE= # Set to "--cleanup-database" to enable this

#
# Themes to exclude from bin/magento setup:static-content:deploy command
# Note that --theme and --exclude-theme cannot be used at the same time
#
#MAGENTO2_STATICCONTENTDEPLOY_EXCLUDE="Magento/luma --exclude-theme=Magento/blank "
